<form action="#" class="form-creator">
    <div class="form-floating mb-3">
        <input type="text" class="border border-3 form-control" id="name-input" placeholder="Name">
        <label for="name-input">Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="border border-3 form-control" id="email-input" placeholder="name@domain.com">
        <label for="email-input">Email address</label>
    </div>
    <div class="form-floating mb-3">
        <input type="url" class="border border-3 form-control" id="url-input" placeholder="name@domain.com">
        <label for="url-input">Twitch/YouTube Profile URL</label>
    </div>

    <button class="justify-content-center btn btn-dark d-flex align-items-center">
        Subscribe
        <img src="{{site.url}}/img/arrow.svg" class="injectable ms-3">
    </button>
</form>