<div class="container">
  <ul class="game-list list-unstyled row">
    {% for post in site.posts %}
    {% if post.category == Game %}

    <li class="mb-5 col-6 col-md-4 col-lg-3">
      <figure class="rounded position-relative">
        <a href="{{ site.url }}{{post.url}}" class="stretched-link text-decoration-none">
          <img class="img-fluid rounded" src="{{ post.cover }} " alt="{{post.cover-alt}}">
        </a>
      </figure>
      <h3 class="post-title mb-0 rounded position-relative">
        <a href="{{ site.url }}{{post.url}}" class="stretched-link text-decoration-none">
          {{ post.title }}
        </a>
      </h3>
      {% include game-icon.html %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>