<div class="container site-header">
  <header class="py-5 d-flex flex-wrap align-items-center flex-column flex-md-row justify-content-between">
    <div class="order-2"><h1 class="text-center my-5 my-md-0 col-md site-logo"><span class="visually-hidden-focusable">{{site.title}}</span><a href="{{site.url}}/" class=" d-inline-flex link-body-emphasis text-decoration-none"><img src="{{site.url}}/img/logo.svg" class="d-block mx-auto injectable" alt="{{site.title}}"></a></h1></div>
    <div class="order-1">{% include nav-menu.html %}</div>
    <div class="order-3">{% include nav-social.html %}</div>
  </header>
</div>