<h2 class="visually-hidden-focusable">Page Links</h2>
<ul class="text-end nav nav-menu mb-2 mb-md-0 text-center text-uppercase text-md-start">
  <li><a href="{{site.url}}" title="Go to homepage" class="nav-link px-2">Home</a></li>
  <li><a href="{{site.url}}/games" title="Play our games" class="nav-link px-2">Games</a></li>
  <li><a href="{{site.url}}/about" title="Our story" class="nav-link px-2">About</a></li>
  <li><a href="{{site.url}}/contact" title="Talk to us" class="nav-link px-2">Contact</a></li>
  <li><a href="https://annapurnainteractive.us10.list-manage.com/subscribe/post?u=7c3683306cb773faa02b35741&id=dcd4ab2409" title="Subscrive our newsletter (Open new window)" target="_blank" class="nav-link px-2">Subscribe</a></li>
</ul>


