<ul class="nav nav-social col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-uppercase">
  <li><a title="Discord" href="#" class="nav-link px-2"><img src="{{site.url}}/img/social/discord.svg" class="injectable"></a></li>
  <li><a title="Facebook" href="#" class="nav-link px-2"><img src="{{site.url}}/img/social/facebook.svg" class="injectable"></a></li>
  <li><a title="Instagram" href="#" class="nav-link px-2"><img src="{{site.url}}/img/social/instagram.svg" class="injectable"></a></li>
  <li><a title="TikTok" href="#" class="nav-link px-2"><img src="{{site.url}}/img/social/tiktok.svg" class="injectable"></a></li>
  <li><a title="Twitch" href="#" class="nav-link px-2"><img src="{{site.url}}/img/social/twitch.svg" class="injectable"></a></li>
  <li><a title="X" href="#" class="nav-link px-2"><img src="{{site.url}}/img/social/x.svg" class="injectable"></a></li>
  <li><a title="Youtube" href="#" class="nav-link px-2"><img src="{{site.url}}/img/social/youtube.svg" class="injectable"></a></li>
</ul>