---
layout: default
---
<main>
    <figure class="banner  ratio ratio-16x9 mb-5">
        <img src="{{page.banner}}" class="img-fluid object-fit-cover">
    </figure>

    <article class="container mx-auto">
        <h2 class="game-title display-4 fw-semibold mb-3">{{page.title}}</h2>
        <div class="row">
            <div class="col col-12 col-md-8">
               <div class="game-tagline display-6 mb-5">{{page.tagline}}</div>
                <div class="game-description">
                    {{content}}
                </div>
            
            </div>
            {% include game-aside.html %}
        </div>
        <footer class="game-info d-flex justify-content-between flex-column flex-md-row border-top border-bottom my-5 py-5 ">
            <div class="mb-4 mb-md-0 game-release"><h3>Released</h3>{{page.game-release}}</div>
            <div class="mb-4 mb-md-0 game-release w-50"><h3>Developer</h3><a href="{{page.game-developer-url}}">{{page.game-developer-name}}</a></div>
            <div class="mb-4 mb-md-0 game-release"><img class="img-fluid" src="{{site.url}}/img/esrb/{{page.badge}}.svg" alt=""><div>
        </footer>
    </article>
</main>